@using Web_ASP.NET_MVC.Models
@model List<ProductCetegory>

<ul class="navbar-nav">
    @{ foreach (var item in Model)
        {
            <li class="nav-item" style="padding: 10px 20px">
                @Html.ActionLink(@item.Name, "Index", "Products")
            </li>
        }
    }
</ul>